<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/css.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
    <script type="text/javascript" th:src="@{/js/myjs.js}" ></script>
    <title>游宝网</title>

</head>
<body>
    <div class="head width">
        <div class="title_top">
            <span>您好，欢迎来到游宝！</span>
            <span>|</span>
            <a href="login.html">登录</a>
            <span>|</span>
            <a href="regist.html">注册</a>
            <span>|</span>
            <a href="">我是买家</a>
            <span>|</span>
            <a href="">我是卖家</a>
        </div>
        <div class="clearfix title_bottom">
            <div class="logo1 fl">
                <img width="250px" src="img/logo1.jpg" alt="">
            </div>
            <div class="search fl">
                <form th:action="@{/search}">
                    <ul>
                        <li>
                            <input class="txt" type="text" placeholder="请输入游戏名称" name="gname">
                        </li>
                        <li>
                            <a class="hand" href=""><input class="btn" type="submit" value="搜索"></a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="nav">
        <ul class="clearfix width">
            <li><a href="index.html">首页</a></li>
            <li style="background-color: #30497e;"><a href="">游戏专区</a></li>
            <li><a href="">端游</a></li>
            <li><a href="">租号</a></li>
            <li><a href="">首充号</a></li>
            <li><a href="">代练</a></li>
            <li><a href="">个人中心</a></li>
            <li><a href="">帮助中心</a></li>
        </ul>
    </div>
    <div class="giude width">
        <ul class="clearfix">
            <li>
                <a th:href="@{/}">首页</a>
            </li>
            <li>
                <span>></span>
                <a href="list.html">游戏列表</a>
            </li>
            <li>
                <span>></span>
                <a href="#">王者荣耀</a>
            </li>
        </ul>
    </div>
    <div class="goods_list width">
        <ul class="list_title clearfix">
            <li>商品标题</li>
            <li>价格</li>
            <li>库存</li>
        </ul>
        <div class="goods_list_msg" th:each="good:${selectgood}">
            <a th:href="@{/info/}+${good.id}"><h1>[[${good.title}]]</h1></a>
            <div class=" clearfix">
                <div class="goods_info fl">
                    <dl>
                        <dd>商品类型：[[${good.gname}]]</dd>
                        <dd>客户端类型：[[${good.sys}]]</dd>
                        <dd>游戏区服：[[${good.server}]]</dd>
                    </dl>
                </div>
                <div class="price fl">
                    [[${good.price}]]
                </div>
                <div class="stock fl">
                    1
                </div>
                <div class="btn_buy fl">
                    <a href="">立即购买</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bot">
        <div class="bot_box1">
            <a href="">关于我们</a>
            |
            <a href="">联系我们</a>
            |
            <a href="">隐私保护</a>
            |
            <a href="">免责声明</a>
        </div>
    </div>
</body>