<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/css.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="js/jquery-3.3.1.js" ></script>
    <script type="text/javascript" src="js/myjs.js" ></script>
    <title>游宝网</title>
</head>
<body>
    <div class="head width">
        <div class="title_top">
            <span>您好，欢迎来到游宝！</span>
            <span>|</span>
            <a th:href="@{/tologin}">登录</a>
            <span>|</span>
            <a th:href="@{/toregist}">注册</a>
            <span>|</span>
            <a href="" >我是买家</a>
            <span>|</span>
            <a href="">我是卖家</a>
        </div>
        <div class="clearfix title_bottom">
            <div class="logo1 fl">
                <img width="250px" src="img/logo1.jpg" alt="">
            </div>
            <div class="search fl">
                <form th:action="@{/search}">
                    <ul>
                        <li>
                            <input class="txt" type="text" placeholder="请输入游戏名称" name="gname">
                        </li>
                        <li>
                            <a class="hand" href=""><input class="btn" type="submit" value="搜索"></a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="nav">
        <ul class="clearfix width">
            <li style="background-color: #30497e;"><a th:href="@{/index}">首页</a></li>
            <li><a th:href="@{/list}">游戏专区</a></li>
            <li><a href="">端游</a></li>
            <li><a href="">租号</a></li>
            <li><a href="">首充号</a></li>
            <li><a href="">代练</a></li>
            <li><a href="">个人中心</a></li>
            <li><a href="">帮助中心</a></li>
        </ul>
    </div>
    <div class="content width clearfix">
        <div class="hello fl">
            <div class="hello_msg">
                <p class="msg1">手游交易，上游宝</p>
                <p class="msg2">您好！</p>
            </div>
            <div class="b_btn">
                <a th:href="@{/list}" class="buy">我要买</a>
                <a th:href="@{/write}" class="sell">我要卖</a>
            </div>
            <div class="tab_nav">
                <ul>
                    <li>
                        <a href="">
                            <i class="nav1"></i>
                            <p>首充号续充</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="nav2"></i>
                            <p>商品查询</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="nav3"></i>
                            <p>游戏下载</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="play fl">
            <ul class="play_ul clearfix">
                <li style="display: block;"><a href=""><img src="img/play1.jpg" alt=""></a></li>
                <li style="display: none;"><a href=""><img src="img/play2.jpg" alt=""></a></li>
                <li style="display: none;"><a href=""><img src="img/play3.jpg" alt=""></a></li>
                <li style="display: none;"><a href=""><img src="img/play4.jpg" alt=""></a></li>
            </ul>
            <div style="display: none;">
                <span class="l"><</span>
                <span class="r">></span>
            </div>
            <ul class="key">
                <li style="opacity: 1;"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="game width">
        <div class="game_nav">
            <ul class="clearfix">
                <li>热</li>
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li>G</li>
                <li>H</li>
                <li>I</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>O</li>
                <li>P</li>
                <li>Q</li>
                <li>R</li>
                <li>S</li>
                <li>T</li>
                <li>W</li>
                <li>X</li>
                <li>Y</li>
                <li>Z</li>
            </ul>
        </div>
        <div class="list width">
            <ul class="clearfix">
                <li th:each="game:${games}">
                    <a th:href="@{/goods/}+${game.gid}"><img th:src="${game.img}" alt=""></a>
                    <p>[[${game.gname}]]</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="content_bot width">
        <div class="new_info">
            <h2>最新发布</h2>
            <div>
                <ul class="clearfix" >
                    <li th:each="good:${goods}">
                        <p>王者荣耀：[[${good.title}]]</p><span>价格：￥[[${good.price}]]</span>
                    </li>
                </ul>
            </div>    
        </div>
    </div>
    <div class="bot">
        <div class="bot_box1">
            <a href="">关于我们</a>
            |
            <a href="">联系我们</a>
            |
            <a href="">隐私保护</a>
            |
            <a href="">免责声明</a>
        </div>
    </div>
</body>
</html>