<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/css.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
    <script type="text/javascript" th:src="@{/js/myjs.js}" ></script>
    <title>游宝网</title>

</head>
<body>
    <div class="head width">
        <div class="title_top">
            <span>您好，欢迎来到游宝！</span>
            <span>|</span>
            <a href="">登录</a>
            <span>|</span>
            <a href="">注册</a>
            <span>|</span>
            <a href="">我是买家</a>
            <span>|</span>
            <a href="">我是卖家</a>
        </div>
        <div class="clearfix title_bottom">
            <div class="logo1 fl">
                <img width="250px" src="img/logo1.jpg" alt="">
            </div>
            <div class="search fl">
                <form th:action="@{/search}">
                    <ul>
                        <li>
                            <input class="txt" type="text" placeholder="请输入游戏名称" name="gname">
                        </li>
                        <li>
                            <a class="hand" href=""><input class="btn" type="submit" value="搜索"></a>
                        </li>
                    </ul>
                </form>

            </div>
        </div>
    </div>
    <div class="nav">
        <ul class="clearfix width">
            <li><a th:href="@{/}">首页</a></li>
            <li style="background-color: #30497e;"><a href="">游戏专区</a></li>
            <li><a href="">端游</a></li>
            <li><a href="">租号</a></li>
            <li><a href="">首充号</a></li>
            <li><a href="">代练</a></li>
            <li><a href="">个人中心</a></li>
            <li><a href="">帮助中心</a></li>
        </ul>
    </div>
    <div class="giude width">
        <ul class="clearfix">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <span>></span>
                <a href="list.html">游戏列表</a>
            </li>
            <li>
                <span>></span>
                <a href="#">王者荣耀</a>
            </li>
            <li>
                <span>></span>
                <a href="#">商品标题</a>
            </li> 
        </ul>
    </div>
    <div class="info_goods width">
        <div>
            <h1><span>商品标题</span></h1>
            <ul class="clearfix">
                <li><span class="f30">[[${good.title}]]</span></li>
                <li><p><span>所属游戏:</span>[[${good.gname}]]</p></li>
                <li><p><span>客户端:</span>[[${good.sys}]]</p></li>
                <li><p><span>区服：</span>[[${good.server}]]</p></li>
            </ul>
        </div>
        <div class="sum-price">
            <p><span>购买数量:</span>1</p>
            <p><span>库存:</span>1件</p>
            <p class="price_color"><span>合计:</span>[[${good.price}]]</p>
            <div class="fl">
                <a href="">立即购买</a>
            </div>
        </div>
    </div>
    <div class="info_game width">
        <div>
            <span>商品详情</span>
        </div>
        <div>
            <dl>
                <dt>五级铭文个数:</dt>
                <dd>[[${good.mingwen}]]</dd>
            </dl>
            <dl>
                <dt>王者水晶个数:</dt>
                <dd>[[${good.wzsj}]]</dd>
            </dl>
            <dl>
                <dt>皮肤数量:</dt>
                <dd>[[${good.pifu}]]</dd>
            </dl>
            <dl>
                <dt>英雄数量:</dt>
                <dd>[[${good.yingxiong}]]</dd>
            </dl>
            <dl>
                <dt>贵族等级:</dt>
                <dd>[[${good.guizu}]]</dd>
            </dl>
        </div>
    </div>
    <div class="bot">
        <div class="bot_box1">
            <a href="">关于我们</a>
            |
            <a href="">联系我们</a>
            |
            <a href="">隐私保护</a>
            |
            <a href="">免责声明</a>
        </div>
    </div>
</body>
