<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/css.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <div class="login_box">
        <div class="clearfix">
            <div class="login_img fl">
                <a th:href="@{/}"><img src="img/logo.jpg" alt=""></a>
            </div>
            <div class="login_s fl">
                <span>注册</span>
            </div>
        </div>
        <form th:action="@{/regist}" method="get">
            <div class="write_pw">
                <div>
                    <span>账号:</span><p><input type="text" name="phone"  placeholder="请输入账号"></p>
                </div>
                <div>
                    <span>密码:</span><p><input type="text" name="password"  placeholder="请输入密码"></p>
                </div>
                <div th:text="${error!=null}?'该账号已存在':''"></div>
                <div class="login_btn">
                    <input type="submit" value="注册">
                </div>
            </div>
        </form>
    </div>
    <div class="bot">
        <div class="bot_box1">
            <a href="">关于我们</a>
            |
            <a href="">联系我们</a>
            |
            <a href="">隐私保护</a>
            |
            <a href="">免责声明</a>
        </div>
    </div>
</body>
</html>