<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/css.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="js/jquery-3.3.1.js" ></script>
    <script type="text/javascript" src="js/myjs.js" ></script>
    <title>游宝网</title>
</head>
<body>
    <div class="head width">
        <div class="title_top">
            <span>您好，欢迎来到游宝！</span>
            <span>|</span>
            <a href="login.html">登录</a>
            <span>|</span>
            <a href="regist.html">注册</a>
            <span>|</span>
            <a href="">我是买家</a>
            <span>|</span>
            <a href="">我是卖家</a>
        </div>
        <div class="clearfix title_bottom">
            <div class="logo1 fl">
                <img width="250px" src="img/logo1.jpg" alt="">
            </div>
            <div class="search fl">
                <form th:action="@{/search}">
                    <ul>
                        <li>
                            <input class="txt" type="text" placeholder="请输入游戏名称" name="gname">
                        </li>
                        <li>
                            <a class="hand" href=""><input class="btn" type="submit" value="搜索"></a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <div class="nav">
        <ul class="clearfix width">
            <li><a th:href="@{/}">首页</a></li>
            <li style="background-color: #30497e;"><a href="">游戏专区</a></li>
            <li><a href="">端游</a></li>
            <li><a href="">租号</a></li>
            <li><a href="">首充号</a></li>
            <li><a href="">代练</a></li>
            <li><a href="">个人中心</a></li>
            <li><a href="">帮助中心</a></li>
        </ul>
    </div>
    <div class="giude width">
        <ul class="clearfix">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <span>></span>
                <a href="#">发布订单    填写订单信息</a>
            </li>
        </ul>
    </div>
    <form th:action="@{/put}">
        <div class="goods_wirte width">
            <h3>商品信息</h3>
            <div class="goods_msg">
                <div>
                    <span>所属游戏:</span>
                    <p><input placeholder="请输入游戏名称" type="text" name="gname"></p>
                    <em></em>
                </div>
                <div>
                    <span>所属系统:</span>
                    <p><input placeholder="请输入游戏系统" type="text" name="system"></p>
                    <em>输入安卓或苹果</em>
                </div>
                <div>
                    <span>商品标题:</span>
                    <p><input placeholder="请输入商品标题" type="text" name="title"></p>
                    <em>游戏账号介绍</em>
                </div>
                <div>
                    <span>所属区服:</span>
                    <p><input placeholder="请输入游戏区服" type="text" name="server"></p>
                    <em>填写整数+区，例如1区</em>
                </div>
                <div>
                    <span>商品价格:</span>
                    <p><input placeholder="请输入商品价格" type="text" name="price"></p>
                    <em>商品价格不能大于100万，例如300、700.00，最多两个小数</em>
                </div>
            </div>
            <h3>游戏账号信息</h3>
            <div class="game_msg">
                <div>
                    <span>游戏等级:</span>
                    <p><input placeholder="请输入游戏等级" type="text" name="grade"></p>
                    <em>请填写1-30的整数</em>
                </div>
                <div>
                    <span>五级铭文个数:</span>
                    <p><input placeholder="请输入五级铭文个数" type="text" name="mingwen"></p>
                    <em>填写1-300的整数</em>
                </div>
                <div>
                    <span>王者水晶个数:</span>
                    <p><input placeholder="请输入王者水晶个数" type="text" name="wzsj"></p>
                    <em>请填写整数</em>
                </div>
                <div>
                    <span>皮肤数量:</span>
                    <p><input placeholder="请输入皮肤数量" type="text" name="pifu"></p>
                    <em>请填写整数字</em>
                </div>
                <div>
                    <span>英雄数量:</span>
                    <p><input placeholder="英雄数量" type="text" name="yingxiong"></p>
                    <em>请填写整数</em>
                </div>
                <div>
                    <span>贵族等级:</span>
                    <p><input placeholder="请输入贵族等级" type="text" name="guizu"></p>
                    <em>请填写0-8的整数</em>
                </div>
                <input type="hidden" name="gid" value="1">
            </div>
            <div class="goods_sbm">
                <input type="submit" value="确定并发布">
            </div>
        </div>
    </form>

    <div class="bot">
        <div class="bot_box1">
            <a href="">关于我们</a>
            |
            <a href="">联系我们</a>
            |
            <a href="">隐私保护</a>
            |
            <a href="">免责声明</a>
        </div>
    </div>
</body>